.change-button,
.save-button,
.send-invitation-button,
.add-button,
.edit-task-button,
.delete-task-button,
.update-event-button,
.add-guest-button,
.add-task-button {
    border-radius: 12px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}
.delete-guest-button,
.remove-vendor-button,
.review-vendor-button {
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.add-guest-button,
.add-task-button,
.edit-task-button,
.review-vendor-button {
    background-color: #4CAF50; /* Green */
    color: white;
}

.delete-task-button,
.remove-vendor-button,
.delete-guest-button {
    background-color: #f44336;
    color: white;
}

.vendors-list {
    display: flex;
    flex-direction: column;
}

.vendor {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.vendor p {
    margin: 5px 0;
}

.review-form {
    margin-top: 10px;
    display: none;
}

.remove-vendor-button {
    margin-bottom: 15px;
}

.update-event-button {
    background-color: blue;
    color: white;
}

.send-invitation-button {
    background-color: #FFC107;
    color: black;
}