{% extends "base.html" %}

{% block content %}
    <h1>Events</h1>

    <table>
        <thead>
            <tr>
                <th>Event Name</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="event-list">
            {% for event in events %}
            <tr data-id="{{ event.id }}">
                <td>{{ event.name }}</td>
                <td>{{ event.date }}</td>
                <td>
                    <button class="edit-button" data-id="{{ event.id }}">Edit</button>
                    <button class="delete-button" data-id="{{ event.id }}">Delete</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Add new event button -->
    <div style="text-align: left; margin-top: 10px;">
        <button class="add-button">Add New Event</button>
    </div>
{% endblock %}
