{% extends "base.html" %}

{% block content %}
    <h1>Tasks</h1>
    
    <!-- Table with Tasks -->
    <table>
        <thead>
            <tr>
                <th>Task Description</th>
                <th>Event</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="task-list">
            {% for task in tasks %}
            <tr data-id="{{ task.task_id }}">
                <td>{{ task.description }}</td>
                <td>{{ task.event.name }}</td>
                <td>{{ task.status }}</td>
                <td>
                    <a href="/events/{{ task.event_id }}" class="edit-button">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
